html,
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f8f8;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh !important;
  width: 100vw !important;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}
main {
  margin-top: 65px;
}
